
.contentRep_MW{
width:100%;
height:auto;
margin:auto;
padding:0px;
font-family: 'Kaisei Tokumin', serif;
text-align:center;
}

h4{
    font-size: 0.5em;
    margin: 0;
    margin-top : 0.5em;
    font-weight: lighter;
}

.titreRep_MW{
color:dark grey;
margin-top:15px;
font-family: 'Lovers Quarrel', cursive;
font-size:70px;
padding:20px;
background:linear-gradient(to right, #00000000,#00000000,green,darkgreen, darkgreen,green,#00000000,#00000000)no-repeat bottom;/* couleur de fond a inclure dans la dernière image/gradient de fond */
background-size:100% 3px;padding:3px 5px /* egal ou superieur à la hauteur de la fausse bordure */
}

.txtRep_MW{
color:dark grey;
font-size:14px;
text-align:justify;
min-height:270px;
margin:20px;background:linear-gradient(to right, #00000000,#00000000,green,darkgreen,darkgreen,green,#00000000,#00000000)no-repeat bottom;/* couleur de fond a inclure dans la dernière image/gradient de fond */
background-size:100% 3px;
padding:3px 5px /* egal ou superieur à la hauteur de la fausse bordure */
}

/* .repPic_MW{
color:grey;
width:180px;
height:250px;
float:right;
background-image:url(https://cdn.discordapp.com/attachments/839269329190912041/888577195776290867/yes.jpg);
background-repeat:no-repeat;background-position:center center;
background-size:cover;margin-left:10px;border:solid;transition: all 1s linear;
} */
