    .mj_3bcontent{
        width:100%; 
        height:auto;
        color:#b77783;
        margin:auto;
        padding:0px;
        font-family: 'Noto Sans JP', sans-serif
    }
    
    .mj_3btitle{
        font-size: 1.2em;
        border-top:solid;
        border-bottom:solid;
        border-color: #7283ad;
        text-align:center;
        margin-top:15px;font-family: 'EB Garamond', serif;
        padding:10px;
}
    
    .mj_3bpic{
        height:250px;
        background-repeat:no-repeat;
        background-position:center center;
        background-size:cover;
        border:solid;
        border-color:#7283ad;
        transition: all 1s linear;
        margin : 10px auto;
    }

    
    .mj_3btxt{
        margin: 10px;
        font-size:15px;
        text-align:justify;
        min-height:270px;
        color: #5C575A;;
      
    }
    
    .mj_3blink{
        width: auto;
        text-align: center;
    }
    
    